#selector {
    font-size: small;
    padding: 10px;
    font-weight: bolder;
}

#consultar {
    padding: 10px;
    color: #fff;
    background-color: #00594c;
    border-radius: 10px;
    /*
    border: none;  CHEQUEAR ESTO
    */
    font-weight: bold;
}

#section-weather-result {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.5); 
    /*la sombra se desplaza 3 píxeles horizontalmente y 3 píxeles verticalmente, tiene un desenfoque de 6 píxeles y una expansión de 3 píxeles. El color de la sombra es un tono de gris con una opacidad del 50%  */
}
